@font-face {
    font-family: opensans;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: lucon;
    src: url(../fonts/lucon.ttf);
}
@font-face {
    font-family: yekanbakh;
    src: url(.././fonts/Yekan\ Bakh\ Regular.ttf);
}
@font-face {
    font-family: iranyekan;
    src: url(../fonts/IRYekan_p30download.com.ttf);
}